{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="columns">
        <h2>Lieux</h2>

        <a class="button" href="{{ link.adminCityAdd }}">Ajouter lieu</a> <br/>

        {% for city in cities %}
            <a href="{{ city.url }}">{{ city.name }}</a> <br/>
        {% endfor %}
    </div>

{% endblock %}