{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="columns">
        <h3 style="margin-bottom: 1em;">Gestion du jeu</h3>
        {% if session.admin == true %}
            <a class="button" href="{{ link.adminCity }}">Gérer lieux</a> <br/>
            <a class="button" href="{{ link.adminDifficulty }}">Gérer difficultés</a> <br/>
        {% endif %}
        <a class="button" href="{{ link.photo }}">Gérer mes photos</a>
    </div>

{% endblock %}