{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="columns">
        <h2>Difficultés</h2>

        <a class="button" href="{{ link.adminDifficultyAdd }}">Ajouter difficulté</a> <br/>

        {% for difficulty in difficulties %}
            <a href="{{ difficulty.url }}">{{ difficulty.label }}</a> <br/>
        {% endfor %}
    </div>

{% endblock %}