<section ng-controller="DifficultyCtrl">
    <h3 class="text-center">Bonjour, {{username}}</h3>

    <div class="small-12 large-centered columns">
        <p>Choisissez la difficulté :</p>
    </div>

    <difficulty ng-repeat="difficulty in difficulties" class="small-12 medium-6 large-4 columns" ng-class="{'end':$last}"></difficulty>
    <modal></modal>
</section>