{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="small-12 large-6 large-centered columns">
        <h1>Connexion</h1>
        
        <p>Vous n'avez pas encore de compte ? <a href="{{ link.register }}">Inscrivez-vous vite</a> !</p>

        <form method="POST" action="{{ postURL }}">
            <label>Adresse mail</label>
            <input type="text" name="mail" placeholder="Adresse mail"/>
            <label>Mot de passe</label>
            <input type="password" name="password" placeholder="Mot de passe"/>
            <input type="hidden" name="token" value="{{ token }}"/>
            <input type="submit" class="button" value="Envoyer"/>
        </form>
    </div>
{% endblock %}