{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    {% if city %}
        <h2>Editer une photo</h2>
    {% else %}
        <h2>Ajouter une photo</h2>
    {% endif %}

    <form action="{{ formPost }}" method="POST" data-abide enctype="multipart/form-data">
        {% if photo %}
            <img class="large-4 large-offset-4 medium-4 medium-offset-4 small-4 small-offset-4" style="margin: 5px;" src="{{ constant('ROOT_PATH') }}/{{ photo.url }}" alt=""/>
        {% endif %}
        <label>Votre photo : <input type="file" name="photo" accept="image/jpeg,image/png"/></label>
        <label>Lieu :
            <select id="selectCity" name="cities">
                <option value="-1">Choissez un lieu</option>
                {% for citi in cities %}
                    {% if citi.id == city.id %}
                        <option value="{{ citi.id }}" selected="selected">{{ citi.name }}</option>
                    {% else %}
                        <option  value="{{ citi.id }}">{{ citi.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
        <label>Latitude : <input type="text" name="latitude" id="lat" value="{{ photo.latitude }}" placeholder="Latitude"/></label>
        <label>Longitude : <input type="text" name="longitude" id="lng" value="{{ photo.longitude }}" placeholder="Longitude"/></label>
        <div id="map-canvas" style="height: 500px; margin-bottom: 1em;"></div>
        {% if photo %}
            <input type="submit" class="button" name="edit" value="Editer"/>
            <input type="submit" class="button" name="delete" value="Supprimer"/>
        {% else %}
            <input type="submit" class="button" name="ajouter" value="Ajouter"/>
        {% endif %}

        <input type="hidden" name="token" value="{{ token }}"/>
    </form>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKxziiWFpPK3pUzrh9oBmSj2y5Q2qFBR0"></script>
    <script type="text/javascript" src="{{ constant('ROOT_PATH') }}/javascript/dist/mapForm.js"></script>
    <script>
        var rootpath="{{ constant('ROOT_PATH') }}";
    </script>
{% endblock %}