{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}
    <div ng-app="app" ng-controller="AppCtrl">
        <section ng-view>
        </section>
        <script type="text/javascript">
            var rootpath="{{ constant('ROOT_PATH') }}";
        </script>
        <script src="{{ constant('ROOT_PATH') }}/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/bower_components/angular/angular.min.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/bower_components/angular-route/angular-route.min.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/app.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/service/CheckToken.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/service/ScoreService.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/controller/AppCtrl.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/controller/AuthCtrl.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/controller/ChooseCtrl.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/controller/MapCtrl.js"></script>
        <script src="{{ constant('ROOT_PATH') }}/javascript/dist/controller/ResultsCtrl.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKxziiWFpPK3pUzrh9oBmSj2y5Q2qFBR0&libraries=geometry"></script>
    </div>

{% endblock %}