<section ng-controller="ResultsCtrl">
    <h2 class="text-center">Félicitations !</h2>

    <div class="small-12 medium-6 medium-centered large-4 large-centered columns">
        <ul class="pricing-table small-12">
            <li class="title">Partie terminée</li>
            <li class="bullet-item">Score</li>
            <li class="price">{{ user.score }}</li>
            <li class="bullet-item">Position</li>
            <li class="price">{{ user.rank }}/{{ totalPlayed }}</li>
            <li class="cta-button"><input type="button" class="button" ng-click="replay()" value="Rejouer"/></li>
        </ul>
    </div>

    <div class="small-12 medium-6 large-6 columns">
        <h3>Meilleurs scores</h3>

        <table class="small-12">
            <thead>
            <tr>
                <th>Rang</th>
                <th width="200">Joueur</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in leaderboard" ng-class="{'highlight': user.id == entry.id}">
                <td>{{ entry.rank }}</td>
                <td>{{ entry.username }}</td>
                <td>{{ entry.score }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="small-12 medium-6 large-6 columns">
        <h3>Vos concurrents</h3>

        <table class="small-12">
            <thead>
            <tr>
                <th>Rang</th>
                <th width="200">Joueur</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in playerboard" ng-class="{'highlight': user.id == entry.id}">
                <td>{{ entry.rank }}</td>
                <td>{{ entry.username }}</td>
                <td>{{ entry.score }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <modal></modal>
</section>