@import "compass";
@import "foundation";

body {
    background: #ECEDEF;
}

body, p, ul, a, textarea, h1, h2, h3, h4, h5, input {
    font-family: "Open Sans";
    font-weight: lighter;
}

button {
    @include button-base;
}

.selected {
    background: #74D108;
}

city {
    margin-bottom: 1em;

    .card {
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
        @include transition(all 0.1s linear);

        &:hover {
            box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
        }
    }
}

difficulty {
    margin-bottom: 1em;

    &>div {
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 1em 1em 0 1em;

        @include transition(all 0.1s linear);

        &:hover {
            box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
        }
    }
}

.photo-show-hide {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

.photo-show-hide.ng-hide {
    opacity: 0;
}

.bandeau-show-hide {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
    height: 200px;
}

.bandeau-show-hide.ng-hide {
    height: 0;
}

table tr.highlight {
    background-color: #74D108;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

    .content {
        position: absolute;
        top:30%;
        width: 100%;

        .test {
            padding: 2em;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }
    }

    h3 {
        margin-top: 0;
    }

    .button {
        margin-bottom: 0;
    }
}