<div class="card">
    <div class="image" style="max-height: 200px; height: 200px; background: url({{city.image}}) center center no-repeat; background-size:cover;"></div>
    <div class="content text-center" style="padding: 1em 1em 0 1em;">
        <h3 style="margin-bottom: 0.5em;">{{city.name}}</h3>
        <input type="button" ng-click="setCity($event)" data-city="{{city.id}}" value="Choisir" class="button"/>
    </div>
</div>