<div class="modal" ng-show="modal.status">
    <div class="content row">
        <div class="test small-12 medium-6 medium-centered large-4 large-centered columns">
            <h3>{{modal.title}}</h3>
            <p>{{modal.message}}</p>
            <input type="button" class="button" ng-show="modal.button1" ng-click="modal.pressed1()" value="{{modal.button1}}"/>
            <input type="button" class="button" ng-show="modal.button2" ng-click="modal.pressed2()" value="{{modal.button2}}"/>

        </div>
    </div>
</div>